- provide(:title, "Genre: #{@genre.title}")
%header.blur
  .blur{style: "background-image: url(#{@genre.image.file.sm_rect})"}
  .container
    =render 'shared/redbox'
    .row
      .col-12.col-md-8
        %h1
          =link_to 'GENRE:', genres_path
          =@genre.title
.container#page-content
  .row
    .col-12.col-lg-6.genre-wrapper
      .container
        .row
          .col-12#genre-image
            =image_tag @genre.image.file.sm_rect, alt:@genre.title, title: @genre.title
          .col-12#genre-text
            %ul.list-unstyled
              %li.list-inline-item= @genre.description.html_safe
    .col-12.col-lg-6.genre-media-wrapper
      .playlist
        .inner
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "405", :src => "https://www.youtube.com/embed/videoseries?list=#{@genre.playlist_id}&showinfo=1", :width => "720"}
