=render 'shared/header'
.container
  %h4= @genre.title
  .row
    .col-12.col-md-6.push-md-6
      =image_tag @genre.image
    .col-12.col-md-6.pull-md-6
      %ul.list-unstyled
        %li.list-inline-item= @genre.description.html_safe
      %ul.list-justified
        %li= link_to "View on Youtube", @genre.audio, {class: 'embedLink', 'data-toggle': 'modal', 'data-target': "#videoEmbed"}
        %li= link_to "Listen to Sample Audio", root_path
=render '/shared/videomodal'
