- provide(:title, "Map")
#map-container
  #map
-content_for :extra_js do
  %script{src: "//maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_KEY']}" }
  %script{src: "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" }
  %script{src: "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" }
  =javascript_include_tag :mapstyle
  =javascript_tag do
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { disableDefaultUI: true, styles: mapstyle }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13);
    });

