.container
  %p MAP
  #map-container
    #map

  =javascript_tag do
    var markers = #{raw @maps.to_json};
  %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAPS_KEY']}&callback=initMap"}
