%footer
  .container
    .row
      .col-md-4
        %span.copyright
          &copy;
          = Date.today.year
          =link_to "Dominican Studies Institute @ CUNY", 'https://www.ccny.cuny.edu/dsi'
      .col-md-4
        %ul.list-inline.social
          %li.list-inline-item
            =link_to fa_icon('facebook'), 'https://www.facebook.com/CUNY.DSI', target: '_blank', title: 'DSI on Facebook'
          %li.list-inline-item
            =link_to fa_icon('twitter'), 'https://twitter.com/CUNYDSI', target: '_blank', title: 'DSI on Twitter'
          %li.list-inline-item
            =link_to fa_icon('flickr'), 'https://www.flickr.com/photos/cunydsi/sets/', target: '_blank', title: 'DSI on Flickr'
      .col-md-4
        %ul.list-inline.quicklinks
          %li.list-item
            =link_to "Privacy Policy", privacy_path
          %li.list-item
            =link_to "Terms of Use", terms_of_use_path

