%header{style: "background-image: url(#{@header.image})"}
  .container
    =render 'shared/redbox'
    .row
      .col-12.col-md-8
        %h1= @header.title
        -if controller.action_name == 'index'
          %p= @header.text.html_safe
      -if controller.controller_name == 'genres'
        .col-12.col-md-4
          .row
            .col-9
              =link_to 'DOWNLOAD', @header.guide.url
              %p= @header.guide_text
            .col-3
              =link_to image_tag('pdf_logo.png'), @header.guide.url
