%h3
  MUSICOLOGICAL GUIDE
  (
  =link_to 'NEW', new_admin_genre_path
  )
.row

  .col-12
    = render '/admin/headers/edit'
    %table.table.table-hover#genre-table
      %th title
      %th description
      %th
      -@genres.each do |g|
        %tr
          %td= link_to g.title, edit_admin_genre_path(g.id)
          %td= truncate(g.description.html_safe, length: 50, escape: false)
          %td
            = link_to fa_icon('trash'), admin_genre_path(g), method: :delete, data: { confirm: 'DELETE: Are you sure?' }, class: 'admin-delete'
