=render 'shared/header'
.container#page-content
  .row
    -news_year = nil
    -@news.each_with_index do |n,i|
      -if i == 0
        .news-feature.row
          .col-12.col-md-5.news-img-wrapper
            =link_to image_tag(n.image.rect_thumb, alt: n.title, title: n.title), news_path(n)
          .col-12.col-md-7
            %ul.list-unstyled
              %li.news-date= n.date.strftime("%B %-d, %Y")
              %li.news-title
                =link_to n.title, news_path(n)
              %li=truncate(n.description.html_safe, length: 200, escape: false)
      -else
        -if news_year.nil? or news_year > n.date.year
          - news_year = n.date.year
          %h2= news_year
        .col-12.col-sm-6.news-grid-item
          .row.news-item-inner
            .col-12.col-md-4.news-img-wrapper
              =link_to image_tag(n.image.sq_thumb, alt: n.title, title: n.title), news_path(n)
            .col-12.col-md-8.news-text-wrapper
              %ul.list-unstyled
                %li.news-date= n.date.strftime("%B %-d, %Y")
                %li.news-title
                  =link_to n.title, news_path(n)
  = paginate @news
