=render 'shared/header'
.container
  -@news.each do |n|
    .row
      .col-12.col-md-3
        =link_to image_tag(n.image.sq_thumb), news_item_path(n)
      .col-12.col-md-9
        %ul.list-unstyled
          %li=n.title
          %li=n.description.html_safe
  = paginate @news
