.container
  %p NEWS
  -@news.each do |n|
    .row
      .col-12.col-md-3
        =image_tag(n.image.sq_thumb)
      .col-12.col-md-9
        %ul.list-unstyled
          %li=n.title
          %li=n.description.html_safe
  = paginate @news
