=render 'shared/header'
.container
  .row
    .col-12.col-md-6.push-md-6
      =image_tag @ni.image
    .col-12.col-md-6.pull-md-6
      %h4= @ni.title
      %p= @ni.date.strftime("%B %-d, %Y")
      %p= @ni.place
      %span= @ni.description.html_safe

