.container
  %p THE FACES OF DOMINICAN MUSIC
  -if user_signed_in? && current_user.try(:admin?)
    =render '/shared/admin_nav'
  .row
    - @stories.each do |story|
      .col-12.col-sm-6.col-md-3
        .col-12
          =link_to (image_tag story.image.thumb), story_path(story)
        .col-12
          %ul.list-unstyled
            %li= story.name
            %li= story.place
            %li= truncate(story.story_text, length: 100)
  = paginate @stories
