=render 'shared/header'
.container
  .row
    .col-12.col-md-6.pull-right
      = image_tag @story.image
    .col-12.col-md-6.pull-left
      %h2= @story.name
      %p.story-place= @story.place
      %p.text= @story.story_text.html_safe
