- provide(:title, "Terms of Use")
%header.masthead(style="background-image: url(#{path_to_image('nyc.jpg')})")
  .container
    =render '/shared/redbox'
.dsi-panel.white
  .container#page-content
    %section#stories
      .row
        .col-12
          %h1.bb
            Terms of Use
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id urna purus. Aenean dapibus sem ac sodales tristique. Sed id sem in urna commodo molestie. Vivamus elementum massa nibh, consectetur fringilla risus tincidunt eu. Cras consequat tincidunt maximus.
