@mixin centerobj {
	display: block;
	margin: 0 auto;
}

@mixin panelpadding {
  padding: 50px 10px;
}

@mixin fade_transition {
  transition: color 0.4s ease;
}

@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

