%header.blur
  .blur{style: "background-image: url(#{@lesson.image.rect_thumb})"}
  .container
    =render 'shared/redbox'
    .row
      .col-12.col-md-8
        %h1
          =link_to 'Lesson:', lessons_path
          =@lesson.title
.container#page-content
  %h2.question= @lesson.question
  =image_tag @lesson.image
  %h5 Introduction
  =@lesson.introduction.html_safe
  %h5 objectives
  =@lesson.objectives.html_safe
  %h5 Activities
  =@lesson.activities.html_safe
  %h5 Assessment
  =@lesson.assessment.html_safe
  %h5 Standards
  =@lesson.standards.html_safe
