- provide(:title, "Lesson: #{@lesson.title}")
%header.blur
  .blur{style: "background-image: url(#{@lesson.image.file.sm_rect})"}
  .container
    =render 'shared/redbox'
    .row
      .col-12.col-md-8
        %h1
          =link_to 'Lesson:', lessons_path
          =@lesson.title
.container#page-content
  .row
    .col-12.header-image
      =image_tag @lesson.image.file.lg_rect
    %section#introduction
      .col-12
        %h2.question= @lesson.question
        %h5 Introduction
        =@lesson.introduction.html_safe
    .col-12
      %section#objectives
        %h5 objectives
        =@lesson.objectives.html_safe
      %section#activities
        %h5 Activities
        =@lesson.activities.html_safe
      %section#assessment
        %h5 Assessment
        =@lesson.assessment.html_safe
      %section#standards
        %h5 Standards
        =@lesson.standards.html_safe
