ul#admin-nav {
  color: $dsi_red;
  li {
    padding: 0 10px;
  }
}
#admin {
  margin-top: 30px;
  h1.admin { color: $dsi_red;  }
  .table-filter { text-align: right;  }
  table {
    tr.admin > td {
      color: $dsi_red;
    }
    i {
      font-size: 1.2em;
      &.published {color: $green}
      &.unpublished {color: $dsi_red}
    }
  }
}


