#admin-tools {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  color: $white;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  background-color: $dsi_red;
}
#admin {
  padding-top: 80px;
  h1.admin { color: $dsi_red;  }
  table {
    tr.admin > td {
      color: $dsi_red;
    }
    i {
      font-size: 1.2em;
      &.published {color: $green}
      &.unpublished {color: $dsi_red}
    }
  }
}


