#admin-tools {
  position: fixed;
  bottom:0;
  left: 0;
  color: $white;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: $dsi_red;
  transition: all 0.8s ease;
  a {
    color: $white;
  }
  &:hover {
    background-color: transparent;
    a {
      color: $dsi_red;
    }
  }
}
#admin {
  padding-top: 80px;
  nav#admin-nav {
    li {
      padding: 10px 0;
      font-size: 1.1em;
      a {
        color: $dsi_red;
      }
      &.active  > a {
          color: $light_grey;
      }
    }
  }
  h1 {
    color: $light_grey;
  }
  h3 {
    font: 100 1.4em $font_2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $lightest_grey;
  }
  .table-filter {
    margin: 10px 0 20px 0;
  }
  #edit-header {
    background: $lightest-grey;
    padding: 20px;
    margin-bottom: 20px;
    #header-form {
      display: none;
      width: 100%;
      .edit_header {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
  table {
      th {
        text-transform: uppercase;
      }
    tr.admin > td {
      color: $dsi_red;
    }
    tr.editor > td {
      color: $dsi_baby_blue;
    }
    i {
      font-size: 1.2em;
      &.published {color: $green}
      &.unpublished {color: $dsi_red}
    }
  }
  .admin-latest {
    margin-top: 20px;
  }
  .admin-delete {
    i {
        color: $dsi_red;
    }
  }
}


