ul#genre-nav {
    border-top: 1px solid $lightest_grey;
    border-bottom: 1px solid $lightest_grey;
    margin-top: 10px;
    padding: 10px 0 15px 0;
    margin-bottom: 30px;
}
#genre-image {
    img {
        @include centerobj;
    }
}
