.main-container.home {
    img {
        @include centerobj;
    }
    header {
        padding: 20% 0;
        #dsi-redbox {
            padding-bottom: 15%;
            padding: 15px 5px;
        }
    }
    section {
        min-height:300px;
        .text-box {
            padding: 50px 25px;
        }
        &#overview {
            @include panelpadding;
            .site-elements {
                margin-top: 40px;
            }
        }
        &#stories {
            color: $dark_grey;
            @include panelpadding;
        }
        &#timeline {
            overflow:hidden;
            .text-box {
                background: $white;
                box-shadow: 4px 0 12px #c4c4c4;

            h1 > a {
                color: $dsi_orange;
                &:hover, &:focus, &:active {
                    color: $dsi_baby_blue;
                }
            }
            }
            .timeline-item {
                padding: 30px;
                #cd-timeline {
                    margin-top: 0;
                    &:before {
                      left: 13px;
                        @media only screen and (min-width: 1170px) {
                            left: 87%;
                        }
                    }
                    .cd-timeline-img.cd-picture {
                        margin-top: 0;
                        margin-left: -25px;
                        @media only screen and (min-width: 1170px) {
                            left: 83%;
                            margin-left:-29px;
                        }
                    }
                    .cd-timeline-content {
                        width: 80%;
                        box-shadow: None;
                    }
                }
            }
        }
        &#map {
            .map-img {
                min-height: 300px;
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &#news {
            min-height: 500px;
            @include panelpadding;
            h1 > a {
                color: $white;
                &:hover, &:focus, &:active {
                    color: $dsi_baby_blue;
                }
            }
            ul#news-slides {
                li.news-title > a{
                    color: $dsi_orange;
                    text-transform: uppercase;
                    &:hover, &:focus, &:active {
                        color: $white;
                    }
                }
                li.news-date {
                    color: $dsi_baby_blue;
                }
            }
        }
        &#images {
            @include panelpadding;
        }
    }
}
