.main-container.lessons {
    &.index {
        background: $lightest_grey;

    }
    &.show {
        background: $lightest_grey;
        #page-content {
            background: $white;
            padding: 0;
            margin-top: 30px;
            .header-image {
                img {
                    width: 100%;
                }
            }
        }
    }
}

