.main-container.lessons {
    &.index {
        background: $lightest_grey;

    }
    &.show {
        background: $lightest_grey;
        #page-content {
          background: $white;
        }
    }
}

