.main-container.news_items.index {
    .row {
        margin: 0 auto;
    }
    background: $lightest_grey;
    .news-feature {
        font-size: 1.1em;
        background: $white;
        img {
            width: 100%;
        }
    }
    h2 {
        border-top: 1px solid $lighter_grey;
        border-bottom: 1px solid $lighter_grey;
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        margin: 30px 0;
    }
    li.news-date {
        font-size: .8em;
        padding-top: 10px;
        text-transform: uppercase;
        letter-spacing: .2em;

    }
    li.news-title {
        font-size: 1.3em;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    .news-grid-item {
        .news-item-inner {
            background: $white;
            margin: 10px;
        }
    }
    .news-img-wrapper {
        padding: 0;
    }
}
