.dsi-panel {
    padding: 0;
    margin: 0;
    color: $white;
    .container {
        padding: 0;
        margin: 0 auto;
    }
    &.full-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &.white, &.half-grey {
        background-color: $white;
        color: $dsi_grey;
    }
    &.half-grey {
        background-color: $lightest_grey;
    }
    &.bb {
        background-color: $dsi_baby_blue;
        color: $white;
    }
    &.bg {
        background-color: $dsi_map_bluegreen;
    }
}
