.dsi-panel {
  padding: 50px 0;
  color: $white;
	&.full-img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	&.white, &.half-blue {
		background-color: $white;
    color: $dsi_grey;
	}
	&.bb {
		background-color: $dsi_baby_blue;
    color: $white;
	}
	&.bg {
		background-color: $dsi_blue_green;
	}
}
