.main-container.stories {
    &.show {
        background: $lightest_grey;
        @include prefootpadding;
        .story-card {
            margin: 30px 0;
            background: $white;
            .story-text {
                padding: 30px;
            }
            .story-img {
                padding: 0;
                margin: 0;
                img {
                    width: 100%
                }
            }
        }
    }
    &.index {
        background: $lightest_grey;
    }
    .story-wrapper {
        margin-bottom: 30px;
        .story-image {
            padding: 0;
            img {
                width: 100%;
            }
        }
        .story-text {
            h2 {
                text-align: center;
            }
            background: $white;
            .inner {
                padding: 10px;
                li.place {
                    text-align: center;
                    font-size: .9em;
                    color: $light_grey;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }
            }
        }

    }
    h2.add_story {
        border-top: 1px solid $lighter_grey;
        border-bottom: 1px solid $lighter_grey;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.6em;
    }
    #user-story-form {
        max-width: 600px;
        padding-top: 20px;
        @include centerobj;
        .btn-success {
            @include centerobj;
        }
    }
}
