.main-container.stories {
    &.show {
        background: $lightest_grey;
        @include prefootpadding;
    }
    &.index {
        background: $lightest_grey;
        #storygrid {
            width: 100%;
            column-count: 1;
            column-gap: 20px;
            padding: 20px;
            text-align: center;
            .grid-item {
                background-color: $white;
                margin: 0 0 1em;
                width: 100%;
                display: inline-block;
                img {
                    width: 100%;
                }
                .story-text {
                    padding: 5%;
                }
            }
            @media only screen and (min-width: 767px) {
                column-count: 2;
            }
            @media only screen and (min-width: 992px) {
                column-count: 3;
            }
            @media only screen and (min-width: 1200px) {
                column-count: 4;
            }
        }
    }
    .story-wrapper {
        margin-bottom: 30px;
        .story-image {
            padding: 0;
            img {
                width: 100%;
            }
        }
        .story-text {
            h2 {
                text-align: center;
            }
            background: $white;
            .inner {
                padding: 10px;
                li.place {
                    text-align: center;
                    font-size: .9em;
                    color: $light_grey;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                }
            }
        }

    }
    h2.add_story {
        border-top: 1px solid $lighter_grey;
        border-bottom: 1px solid $lighter_grey;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.6em;
    }
    #user-story-form {
        max-width: 600px;
        padding-top: 20px;
        @include centerobj;
        .btn-success {
            @include centerobj;
        }
    }
}
