=render 'shared/header'
.dsi-panel.bb
  .container
    %section#overview
      %h1 browse eras
    %p Choose an era below
    .row#era-list-container
      %ul.inline-list.era-list
        %li.list-inline-item
          =link_to '1920s-1950s', timeline_path(era: '20s_50s')
        %li.list-inline-item
          =link_to '1960s-1980s', timeline_path(era: '60s_80s')
        %li.list-inline-item
          =link_to '1990s-Present', timeline_path(era: '90s_present')

%section#cd-timeline.cd-container
  -@timeline.each do |t|
    .cd-timeline-block{ id: "tl_#{t.id}" }
      .cd-timeline-img.cd-picture
        =link_to (image_tag t.image.sq_thumb), history_path(t)
      .cd-timeline-content
        =link_to (image_tag t.image.rect_thumb, alt: t.title, title: t.title), history_path(t)
        %h2
          =link_to t.title, history_path(t)
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
        .cd-date= t.date.strftime("%B %-d, %Y")

