=render 'shared/header'
.container
  %h1.page-title
    image
  #imagegrid
    -@images.each do |i|
      .grid-item
        = link_to image_tag(i.file.sq_thumb), image_path(i)
  .clearfix
  = paginate @images
