%header.blur
  .blur{style: "background-image: url(#{@image.file.rect_thumb})"}
  .container
    =render 'shared/redbox'
    .row
      .col-12.col-md-8
        %h1
          =link_to 'IMAGE:', images_path
          =@image.title
.container#page-content
  .row
    .col-12.col-md-6.push-md-6
      =image_tag @image.file, alt: @image.title, title: @image.title
      %p.image-credit
        =@image.credit
    .col-12.col-md-6.pull-md-6
      = @image.description.html_safe
=render '/shared/videomodal'

