=render 'shared/header'
.container
  %h2= @image.title
  .row
    .col-12.col-md-6.push-md-6
      =image_tag @image.file, alt: @image.title, title: @image.title
      %p.image-credit
        =@image.credit
    .col-12.col-md-6.pull-md-6
      = @image.description.html_safe
=render '/shared/videomodal'

